version: '3.3'

services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    environment:
      CADDY_INGRESS_NETWORKS: public
    ports:
     - 80:80
     - 443:443
     - 25565:25565
    volumes:
     - /var/run/docker.sock:/var/run/docker.sock
     - caddy-data:/data
    networks:
     - public
    deploy:
      labels:
        caddy.email: support@alflag.org
      placement:
        constraints:
         - node.role == manager
      resources:
        reservations:
          cpus: '0.1'
          memory: 200M

networks:
  public:
    external: true

volumes:
  caddy-data:
    driver: local
