version: '3.8'

x-envionment:
  db:
    &db
    MYSQL_ROOT_PASSWORD: &db_password "CHANGE_ME"
  ghost:
    &ghost
    url: https://viasnake.com
  label:
    &label
    caddy: viasnake.com www.viasnake.com
    caddy.reverse_proxy: "{{upstreams 2368}}"

services:
  ghost:
    image: ghost:5-alpine
    networks:
     - public
     - local
    volumes:
      - type: bind
        source: "/mnt/shared/viasnake-web/content"
        target: "/var/lib/ghost/content"
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: *db_password
      database__connection__database: ghost
      <<: *ghost
    deploy:
      labels:
        <<: *label

  db:
    image: mysql:8
    networks:
     - local
    volumes:
      - type: bind
        source: "/mnt/shared/viasnake-web/db"
        target: "/var/lib/mysql"
    environment:
      <<: *db

networks:
  public:
    external: true
  local:
    driver: overlay
