version: '3.8'

services:

  db:
    image: mysql:8
    networks:
      - local
    volumes:
      - type: bind
        source: "/mnt/shared/viasnake-web/db"
        target: "/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: &db_password ${MYSQL_PASSWORD}

  ghost:
    image: ghost:5-alpine
    networks:
      - public
      - local
    volumes:
      - type: bind
        source: "/mnt/shared/viasnake-web/content"
        target: "/var/lib/ghost/content"
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: *db_password
      database__connection__database: ghost
      url: https://viasnake.com
    deploy:
      labels:
        caddy: viasnake.com www.viasnake.com ghost.viasnake.com
        caddy.reverse_proxy: "{{upstreams 2368}}"
        caddy.tls.dns: "cloudflare ${CF_API_TOKEN}"

networks:
  public:
    external: true
  local:
    driver: overlay
