version: '3'
 
services:

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
      - '443:443'
    restart: "always"
    volumes:
      - /etc/nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    deploy:
      placement:
        constraints:
          - node.role == manager