version: '3.8'

x-envionment:
  db:
    &db
    MYSQL_ROOT_PASSWORD: &db_password "CHANGE_ME"
  ghost:
    &ghost
    url: https://www2.mcplay.biz
  label:
    &label
    caddy: www2.mcplay.biz
    caddy.reverse_proxy: "{{upstreams 2368}}"
    caddy.tls.dns: "CHANGE_ME"

services:
  ghost:
    image: ghost:5-alpine
    networks:
     - public
     - local
    volumes:
      - /mnt/shared/mcplaynetwork-web/content:/var/lib/ghost/content
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: *db_password
      database__connection__database: ghost
      <<: *ghost
    deploy:
      labels:
        <<: *label

  db:
    image: mariadb:10.7
    networks:
     - local
    volumes:
      - /mnt/shared/mcplaynetwork-web/mysql:/var/lib/mysql
    environment:
      <<: *db

networks:
  public:
    external: true
  local:
    driver: overlay
